.about {
    /* background-color: #505050; */
    /* background-image: url(../../../public/bg-scroll.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #FFE6C7; */
}
.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}  
.about-details-container {
    justify-content: center;
    flex-direction: column;
} 
.about-containers,
.about-details-container {
    display: flex;
}
.detail-container {
    padding: 1rem;
    flex: 1;
    border-radius: 2rem;
    text-align: center;
}
.detail-container h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
.detail-container .icon {
    margin: 3px 0;
    font-size: 1.5rem;
}