.achievement {
    background-color: #505050;
    color: #FFE6C7;
}
.section__text__p1 {
    text-align: center;
}
.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}
.achievement-carousel {
    border: #FFE6C7 0.1rem solid;
    background-color: #454545;
    border-radius: 2rem;
    padding: 3rem 2rem;
    height: 500px;
}
.achievement-carousel:hover {
    background-color: #FFE6C7;
    cursor: pointer;
}
.achievement-carousel h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: end;
    text-transform: uppercase;
}
.achievement-carousel h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
.achievement-carousel:hover h1 {
    color: #454545;
}
.achievement-carousel:hover h2 {
    color: #454545;
}
.achievement-carousel:hover p {
    color: #454545;
}
.achievement-carousel:hover .achievement-image-dark {
    display: block;
}
.achievement-image-dark {
    width: 130px;
    border-radius: 2rem;
    display: none;
}
.achievement-carousel:hover .achievement-image-light {
    display: none;
}
.achievement-image-light {
    width: 130px;
    border-radius: 2rem;
}
.item {
    text-decoration: none;
    color: #FFE6C7;
}
@media (min-width: 992px) {
}

@media (max-width: 768px) {
}