.contact {
    background-color: #454545;
    color: #FFE6C7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
} 
.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;  
    padding: 0.3rem;
}  
.contact-info-container p a {
    text-decoration: none;
    color: #FFA559;
    transition: all 300ms ease;
    padding-bottom: 7px;
}
.contact-info-container p a:hover {
    color: #FFE6C7;
    border-bottom: #FFE6C7 0.1rem solid;
}
@media (min-width: 992px) {
    .contact-info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 1rem;
    }
    .contact-icon {
        cursor: default;
        font-size: 2rem;
    }
    .contact-info-container p {
        font-size: 2rem;
        margin: 0;    
    }
}
@media (max-width: 768px) {
    .contact-info-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin: 0.3rem;
    }
    .contact-info-container p {
        font-size: 1.3rem;
        margin: 0;    
    }
    .contact-icon {
        cursor: default;
        font-size: 1.5rem;
    }
}