.experience {
    background-color: #505050;
    color: #FFE6C7;
}
/* EXPERIENCE SECTION */
.icon {
    cursor: pointer;
    height: 2rem;
}
.details-container {
    padding: 1rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}
.details-container .icon {
    margin: 3px 0;
    font-size: 1.5rem;
}  
.experience-sub-title {
    color: #FFA559;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
} 
.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}  
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.article {
    display: flex;
    justify-content: space-evenly;
}  
.article .icon {
    cursor: default;
}
@media (min-width: 992px) {
    .article h3 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px) {
    .article h3 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .article p {
        font-size: 0.8rem;
    }
}