.project {
    background-color: #454545;
    color: #FFE6C7;
}
.section__text__a {
    color: #FFA559;
    text-decoration: none;
    font-weight: 600;
    transition: all 300ms ease;
    text-align: end;
}
.section__text__p1 {
    text-align: center;
}
.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}
.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}  
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
.project-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #FFE6C7;
    border-bottom: #FFE6C7 0.1rem solid;
} 
.project-img {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    transition: all 300ms ease;
}
/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.8rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-2 {
    background: none;
    color: #FFE6C7;
    border: #FFE6C7 0.1rem solid;
}
.btn-color-2:hover {
    border: #FFE6C7 0.1rem solid;
    color: #454545;
    background-color: #FFE6C7;
    cursor: pointer;
}
@media (min-width: 992px) {
    .project-img img {
        width: 100%;
        height: 450px;
        border-radius: 0.5rem;
    }
}

@media (max-width: 768px) {
    .project-img img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }
}