@media (min-width: 992px) {
    .mobile {
        display: none;
    }
    .wrapper {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #454545;
    }
    .wrapper::before {
        position: absolute;
        content: '';
        height: 470px;
        width: 470px;
        border-radius: 50%;
        left: -12%;
        top: 40%;
        background: linear-gradient(45deg, #FF6000, #FFA559);
        animation: object1 6s linear infinite;
    }
    .wrapper::after {
        position: absolute;
        content: '';
        height: 150px;
        width: 150px;
        border-radius: 50%;
        left: 35%;
        top: 12%;
        background: linear-gradient(45deg, #FFA559, #FF6000);
        animation: object2 6s linear infinite;
    }
    @keyframes object1 {
        50% {
            left: -13%;
            top: 39%;
        }
    }
    @keyframes object2 {
        50% {
            left: 35%;
            top: 10%;
        }
    }
    .cols {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .website {
        color: #FFE6C7;
    }
    .topline {
        font-size: 2rem;
        letter-spacing: 5px;
        position: relative;
        display: block;
    }
    .topline::after {
        position: absolute;
        content: '';
        height: 4px;
        width: 45px;
        bottom: 10px;
        background-color: #FF6000;
    }
    .titleText {
        display: block;
        font-size: 7rem;
        font-weight: 900;
        color: #FFE6C7;
    }
    .titleText .multiText {
        color: #FF6000;
        text-transform: capitalize;
        background: transparent;
    }
    .subTitleText {
        width: 90%;
        font-size: 1.1rem;
        color: #FFE6C7;
        display: block;
        z-index: 6;
    }
    .buttonWrapper {
        left: 150px;
        position: relative;
        width: 100%;
    }
    .btn-cv {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 400;
        color: #fff;
        background-color: #666666;
        padding: 8px 14px;
        margin: 40px 5px;
        letter-spacing: 2px;
        box-shadow: 0 10px 10px rgba(255, 255, 255, 0.4);
        text-transform: capitalize;
    }
    .btn-cv:hover {
        background-color: #FF6000;
    }
    .btn-hire {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 400;
        color: #fff;
        background-color: #666666;
        padding: 8px 14px;
        margin: 40px 5px;
        letter-spacing: 2px;
        box-shadow: 0 10px 10px rgba(255, 255, 255, 0.4);
    }
    .btn-hire:hover {
        background-color: #FF6000;
    }
    .imageBox {
        position: relative;
        height: 100%;
    }
    .imageBox #people {
        position: relative;
        height: calc(115% - 60px);
        top: -100px;
        right: 50px;
        width: 115%;
        animation: animateUser 4s linear infinite;
        background: transparent;
    }
    @keyframes animateUser {
        50% {
            right: 30px;
            top: -90px;
        }
    }
    .imageBox #splash {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 160%;
        filter: saturate(200%);
        height: calc(100% - 80px);
        animation: animateSplash 4s linear infinite;
    }
    @keyframes animateSplash {
        50% {
            top: 49%;
            left: 51%;
            width: 155%;
        }
    }
    /* Aturan CSS untuk layar dengan lebar minimal 992px (misalnya, tablet dan desktop) */
}

@media (max-width: 768px) {
    .website {
        display: none;
    }
    .mobile {
        display: block;
        color: #FFE6C7;
    }
    .mobileImage {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobileImage img {
        margin-top: 30px;
        width: 80%;
        height: 80%;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #454545;
    }
    .mobileContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topline {
        font-size: 1rem;
        letter-spacing: 5px;
        position: relative;
        display: block;
    }
    .topline::after {
        position: absolute;
        content: '';
        height: 4px;
        width: 45px;
        bottom: 10px;
        background-color: #FF6000;
    }
    .titleText {
        display: block;
        font-size: 1.5rem;
        font-weight: 900;
        color: #FFE6C7;
    }
    .titleText .multiTextMobile {
        color: #FF6000;
        text-transform: capitalize;
        background: transparent;
    }
    .subTitleText {
        width: 90%;
        font-size: 1rem;
        color: #FFE6C7;
        display: block;
        text-align: center;
    }
    .btn-cv {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
        background-color: #666666;
        padding: 4px 7px;
        margin: 10px 7px;
        letter-spacing: 1px;
        box-shadow: 0 5px 5px rgba(255, 255, 255, 0.4);
        text-transform: capitalize;
    }
    .btn-cv:hover {
        background-color: #FF6000;
    }
    .btn-hire {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
        background-color: #666666;
        padding: 4px 7px;
        margin: 10px 7px;
        letter-spacing: 1px;
        box-shadow: 0 5px 5px rgba(255, 255, 255, 0.4);
    }
    .btn-hire:hover {
        background-color: #FF6000;
    }
    .mobileContent .mobile-icons {
        color: #FFE6C7;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .mobileContent .mobile-icons a {
        color: #FFE6C7;
        text-decoration: none;
    }
    /* Aturan CSS untuk layar dengan lebar maksimal 768px (misalnya, smartphone) */
}
