.achievement {
    background-color: #454545;
    color: #FFE6C7;
}
.achieve-content {
    border: #FFE6C7 0.1rem solid;
    border-radius: 2rem;
    background-color: #454545;
}
.achieve-content:hover {
    background-color: #505050;
    cursor: pointer;
}
.achieve-docs {
    text-align: justify;
    text-decoration: none;
    color: #FFE6C7;
}
.achieve-icon {
    width: 100%;
}
@media (min-width: 992px) {
    .title-achievement h2{
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .title-achievement h2{
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
    }
}