/* 
    Background color: #444444
    Primary Color: #F30067
    Secondary Color: #EAEAEA
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    overflow: unset;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFE6C7;
    letter-spacing: 3px;
    cursor: pointer;
}
.navbar-brand:hover {
    color: #FFE6C7;
}
.navbar-brand span {
    color: #FF6000;
}
.navbar {
    background-color: #454545;
}

.navbar-nav li a{
    font-size: 1.2rem;
    color: #FFE6C7;
    letter-spacing: 3px;
}

.navbar-nav li:hover a {
    color: #FF6000;
}

.navbar .navbar-icons {
    color: #FFE6C7;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar .navbar-icons a {
    color: #FFE6C7;
    text-decoration: none;
}

.navbar .navbar-icons a:hover {
    color: #FF6000;
}
footer {
    background-color: #454545;
    color: #FFE6C7;
} 
footer p {
    text-align: center;
}
nav,
.nav-links {
    display: flex;
    text-decoration: none;
    color: #FFE6C7;
}
.nav-item {
    text-decoration: none;
    color: #FFE6C7;
}
.nav-links-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.nav-links-container ul li a{
    color: #FFE6C7;
    text-decoration: none;
}
.nav-links-container ul li a:hover{
    color: #FF6000;
}
@media (min-width: 992px) {
    .nav-links {
        gap: 2rem;
        list-style: none;
        font-size: 1.5rem;
    }
}
@media (max-width: 768px) {
    .nav-links {
        gap: 7px;
        list-style: none;
        font-size: 1.3rem;
    }
    footer p {
        font-size: 1rem;
    }
}