.project-detail {
    background-color: #454545;
    color: #FFE6C7;
}
.image-project-detail {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
.desc-project-detail {
    text-align: justify;
}
@media (min-width: 992px) {
    .title-project-detail h2{
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .title-project-detail h2{
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
    }
}